.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 10px;

  & h2 {
    text-align: center;
  }

  & [type='text'] {
    color: #000000;
    background-color: #ffffff;
    padding: 5px;
    width: 100%;
  }

  & .dropbox {
    min-width: 250px;
    min-height: 150px;
    background-color: #d3d3d3;
  }

  & .authorField {
    width: 30%;
    align-self: flex-start;
  }

  & [type='email'] {
    align-self: flex-start;
    width: 30%;
    color: #000000;
    background-color: #ffffff;
    padding: 5px;
  }

  & textarea {
    width: 100%;
    color: #000000;
    background-color: #ffffff;
    padding: 5px;
    min-height: 200px;
    resize: none;
  }

  & button {
    width: 25%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px;
    min-height: 25px;
    background-color: #ffffff;
    color: #000000;
  }
}
