.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrapperAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.itemList {
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.pre {
  font-size: 16px;
}

.avatar {
  border-radius: 50%;
}
